@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  max-height: 100vh;
  max-height: -webkit-fill-available;
  overflow: hidden;
}

html {
  height: -webkit-fill-available;
}

::-webkit-scrollbar {
  width: 0.3em;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}